{% extends 'base.html.twig' %}
{% block title %}{{ program.title }}{% endblock %}

{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
        </div>
    </div>
    <div>
        <h2>Episode : {{ episode.number }} - {{ episode.title }}</h2>
        <p>{{ episode.synopsis }}</p>
    </div>
     <div>
         {% if is_granted("ROLE_CONTRIBUTOR") %}
             <h2>Ajouter un commentaire</h2>
             {{ form_start(form) }}
             {{ form_widget(form) }}
             <button class="btn">{{ button_label|default('Save') }}</button>
             {{ form_end(form) }}
         {% endif %}
     </div>
    <div>
        <h2>Commentaires :</h2>
        {% for comment in comments %}
            <div>
                <h2>{{ loop.index }} / - Author : {{ comment.author.email }}</h2>
                <p>{{ comment.comment }}</p>
                <p>Rate : {{ comment.rate }}</p>
                {% if is_granted("ROLE_ADMIN") or comment.author == app.user %}
                <a href="{{ path('program_comment_delete', { comment_id: comment.id }) }}">Supprimer le commentaire</a>
                {% endif %}
            </div>
        {% else %}
            Soit le premier a laisser un commentaire.
            {% if app.user %}
            {% else %}
                <a href="{{ path('app_login') }}"> Se connecter</a>
            {% endif%}
        {% endfor %}
    </div>
    <div>
        <a href= "{{ path("program_season_show", { slug: program.slug, season_id: season.id }) }}">
            Retour à la liste des episodes
        </a>
    </div>
    <div>
        <a href= "{{ path("program_show", { slug: program.slug }) }}">
            Retour à la liste des saisons
        </a>
    </div>
    <div>
        <a href= "{{ path('program_index') }}">
            Retour à la liste des programmes
        </a>
    </div>
{% endblock %}
