<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"> Wild Series </a>
        {% if app.user %}
            {% trans with {'%username%': app.user.email} %}
                hello_username
            {% endtrans %}
            <a href="{{ path('app_logout') }}"> {{ 'account.logout'|trans }}</a>
        {% else %}
            <a href="{{ path('app_login') }}"> {{ 'account.login'|trans }}</a>
        {% endif %}
        {% if app.user %}
            {{ app.user.email }}
            <a href="{{ path('user_profil') }}"> Mon compte </a>
        {% endif %}

        {% if app.request.locale =='en' %}
        <li class="nav-item"><a class="nav-link text-dark" href="/fr">FR</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link text-dark" href="/en">EN</a></li>
        {% endif %}

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_index')}}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('program_index')}}">Programs</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('category_index')}}">Categories</a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Ajouter
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ path('program_new')}}">Program</a></li>
                        <li><a class="dropdown-item" href="{{ path('category_new')}}">Catégorie</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ path('season_index')}}">CRUD Season</a></li>
                        <li><a class="dropdown-item" href="{{ path('episode_index')}}">CRUD Episode</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
